<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= booking.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= booking.time %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= booking.size %>
  </p>

</div>
